
@keyframes downup{
    0%{
        transform: translateY(0px)
    }
    50%{
        transform: translateY(10px)
    }
    100%{
        transform: translateY(0px)
    }
}
html{
    scroll-behavior: smooth;
    background-image: url("../img/bg.png");
    background-size: 100%;
    background-repeat: repeat-y;
}

*{
    font-family: system-ui;
    transition-duration: 0.3s;
}

img{
    border-radius: 15px;
}

body{
    padding: 0;
    margin: 0;
    background-image: url("../img/bg.png");
    background-size: 100%;
    background-repeat: repeat-y;
}




body::-webkit-scrollbar {
    width: 5px;
    background-color: #00000000;
  }
  
  /* Track */
  body::-webkit-scrollbar-track {
    background-color: #00000000;
  }
  
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: rgb(171, 98, 240);
    border-radius: 30px;
  }
  
.bod{
    /* background-image: url("../img/bg.png");
    background-size: 100%;
    background-repeat: repeat-y; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.root{
    width: 1350px;
    

}




.headerside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    transform: translateY(30px);
    position: relative;
    opacity: 1;
}

.headerside h1 a{
    color:rgb(171, 98, 240);

}

.headerside h1{
    color:white;
    font-size: 52px;
}

.downtoup{
    transform: translateY(0px);
    opacity: 0;

}

.downbtn{
    width: 100%;
    text-decoration: none;
    color: rgb(171, 98, 240);
    animation: downup 2s infinite;
    text-align: center;

}

.downbtn svg{
    width: 50px;
    height: 50px;

}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99999999999;
}

.itembox{
    width: 50px;
    height: 50px;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.364);
    transition-delay: 0.5s;
}
.itembox .item{
    opacity: 0;
    visibility: hidden;
    padding: 10px;
    transition-delay: 0.8s;
}

.itembox .item a{
    text-decoration: none;
    color: white;
}
.visi .itembox{
    width: 80%;
}

.visi .itembox .item{
    opacity: 1;
    visibility: visible;
}

.cartbox {
    
    padding: 10px;
    border-radius: 15px;
   
}

.cartbox .text{
    position: sticky;
    top:100px;
    padding: 10px;
    width: fit-content;
    border-radius: 30px;
    z-index: 2;
    padding:10px ;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.364);
}

.cartbox .text h1{
    color: white;
    padding: 0;
    margin: 0;
}


.cart{
    display: flex;
    background-color: rgba(255, 255, 255, 0.364);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    margin-top: 30px;
    transform: translateY(10px);
    opacity: 0;
    transition-duration: 0.8s;

}

.cart .carticon{
    width: 50%;
    padding: 10px;
    transform: translateX(30px);
    transition-delay: 0.9s;
    opacity: 0;
}
.cart .carttext {
    width: 50%;
    padding: 15px;
    transform: translateX(-30px);
    opacity: 0;
    transition-duration: 0.9s;
    transition-delay: 0.9s;
    color: white;
}


.fromlefttopright{
    transform: translateY(0px);
    opacity: 1;
}

.fromlefttopright .carticon{
    transform: translateX(0px);
    opacity: 1;
}


.fromlefttopright .carttext{
    transform: translateX(0px);
    opacity: 1;
}

.carticon img{
    width: 95%;
    height: 95%;
}

.browser{
    padding: 10px;
    transform: translateY(10px);
    transition-duration: 0.5s;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.364);
    backdrop-filter: blur(10px);

}
.browser .header{
    width: 100%;
    height: 10px;
    background-color: black;
    z-index: 0;

}
.browser .item{
    width: 100%;
    height: 100%;
    padding-top: 120px;

}
.browser .item img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}



.backtoup{
    transform: translateY(0px);
    opacity: 1;
}

.link{
    color: rgb(171, 98, 240);
}


.backtop .downbtn svg{
    transform: rotate(180deg);

}


.fuller{
    position: absolute;
    bottom: 0;
    background-color: rgb(171, 98, 240);
    height: 1px;
    left: 0;
    border-radius: 30px;
    padding: 0 !important;
    margin: 0;
    z-index: 0;
}


.contactus{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 90px;
}
.contactus h1{
    color: white;
}


.contactus .item{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.contactus .item .icon{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.364);
    backdrop-filter: blur(10px);
}


.contactus .item .text{
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.364);
    backdrop-filter: blur(10px);
    padding: 10px;
    margin-left: -19px;
    color: white;
}


.contactus .item:hover .text{
    margin-left: 0;

}

.item .icon{
    display: flex;
    justify-content: center;
    align-items: center;

}

.item .icon svg{
    width: 50%;
    height: 50%;
    color: white;
}